@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.cursive {
    font-family: "Cedarville Cursive", cursive;
}

.Welcome-text {
    background: linear-gradient( 0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
    background-blend-mode: normal, screen;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Welcome-box {
    isolation: isolate;
    overflow: hidden;
    align-items: center;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 32px;
    box-shadow: inset 0 -7px 11px #a48fff1f;
    display: flex;
    position: relative;
    width: -moz-max-content;
    width: max-content;
    transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.button-primary {
    background: linear-gradient( 180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.32) 100%), rgba(113, 47, 255, 0.12);
    box-shadow: inset 0 0 12px #bf97ff3d;
}

.button-primary:hover {
    background: linear-gradient( 180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0.42) 100%), rgba(113, 47, 255, 0.24);
    box-shadow: inset 0 0 12px #bf97ff70;
}


/* Hide scrollbar for IE, Edge and Firefox */

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.avatar {
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    filter: grayscale(70%);
}

.intermitent-border {
    animation: spinBorder 1s ease-in-out infinite, appearDisappearBorder 5s ease-in-out infinite;
}

@keyframes spinBorder {
    0% {
        border-image: linear-gradient(to right, #3b82f6, #a855f7) 1;
    }
    50% {
        border-image: linear-gradient(to bottom, #3b82f6, #a855f7) 1;
    }
    75% {
        border-image: linear-gradient(to left, #3b82f6, #a855f7) 1;
    }
    100% {
        border-image: linear-gradient(to top, #3b82f6, #a855f7) 1;
    }
}

@keyframes appearDisappearBorder {
    0% {
        border-image: linear-gradient(to right, #3b82f6, #a855f7) 1;
    }
    50% {
        border-image: linear-gradient(to top, transparent, transparent) 1;
    }
    100% {
        border-image: linear-gradient(to right, #3b82f6, #a855f7) 1;
    }
}

.intermitent-typewriting {
    animation: typewriting 1s steps(2, end) infinite;
    width: 2px;
    height: 20px;
    background-color: #fffa;
    display: inline-block;
    transform: translateY(5px);
    opacity: 1;
}

@keyframes typewriting {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.gh-bg {
    background-image: url(/bg.png);
}


/* SliderInfinite.css */

.slider-wrapper {
    overflow: hidden;
    width: 100%;
    /* o fijo: 600px, lo que necesites */
    /* puedes cambiarlo vía prop `speed` */
}

.slider-track {
    display: flex;
    width: max-content;
}

.slide {
    flex: none;
    margin-right: 16px;
    /* espacio entre imágenes */
}

.slide img {
    display: block;
    height: 50px;
    /* ajusta según tu diseño */
    object-fit: cover;
}


/* keyframes para mover de derecha a izquierda */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
